<!--Author : Rutvik Patel, Dhruti Patel, Shahzaib Malik
        Student Number: 300877075, 300857555, 300852792
        Date Modified: 24th November 2016
        Description: Index page of the Add_ons Items
        page name: Index.cshtml
        -->

@model IEnumerable<Final_Project_Part1.Models.Add_Ons>

@{
    ViewBag.Title = "Index";
}

<h2>Add_Ons</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
           
        </td>
    </tr>
}

</table>
<h4>Add Extra</h4>

<img src="~/Assets/Images/a1.jpg" width="160" height="120"/>
<img src="~/Assets/Images/a2.jpg" width="160" height="120"/>
<img src="~/Assets/Images/a3.jpg" width="160" height="120"/>
<img src="~/Assets/Images/a4.jpg" width="160" height="120"/>
<img src="~/Assets/Images/a5.jpg" width="160" height="120"/>